.bottom {
    background-color: #ffffff;
    width: 100vw;
    height: 80px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid #D6D6D6;
}

.bottomLinkActive {
    text-decoration: none;
    color: #4FAF5A;
}

.bottomLinkInactive {
    text-decoration: none;
    color: #878787;
}

.home>p , .order>p, .bookmark>p, .profile>p {
    text-align: center;
}

.home, .order, .bookmark, .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 4px;
}

.home:hover, .order:hover, .bookmark:hover, .profile:hover{
    cursor: pointer;
}

.iconColorSize {
    font-size: 1.3rem;
}
