.sentVerificationCode {
    width: 90vw;
    margin: 5rem auto 2rem auto;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.verificationOtp {
    font-weight: 700;
    font-size: 2rem;
}

.sent {
    font-size: 1.5rem;
}

.otpInput {
    margin: auto;
    width: 90vw;
    display: flex;
    justify-content: center;
    column-gap: 15px;
}

.otpInputValue {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.otpVerificationPageDetails {
    width: 90vw;
    margin: 3rem auto 2rem auto;
}

.verificationCodePara {
    font-size: 2rem;
    font-weight: 600;
}

.weHaveSentVerificationCode {
    padding-top: 10px;
    font-size: 1.2rem;
}

.userEmailAtVerificationTime {
    color: #4FAF5A;
    font-weight: 600;
    font-style: italic;
}

.otpVerificationForm {
    width: 90vw;
    margin: auto;
}

.verifyOtpInput {
    padding: 16px;
    border-radius: 8px;
    font-size: 16px;
}

.verifyOtpInput:focus {
    border-color: #4FAF5A;
}

.verifyEmailButton {
    margin-top: 2rem;
    padding: 12px;
    width: 90vw;
    background-color: #4FAF5A;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    color: #EEF7EF ;
}