.foodListing {
    width: 90vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
    margin-top: 1rem;
}

.active {
    max-width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3px 6px;
    background-color: #4FAF5A;
}